th, td {
  border: 1px solid black;
  border-collapse: collapse;
  border-radius: 25px 0px 0px 0px;
  background-color: lightblue;
}
th, td {
  padding: 15px;
}

th {
  text-align: left;
}

table {
  border-spacing: 5px;
}

th{
  background-color: lightpink;
}