#header1{
	text-align: right;
    background: rgba(0, 0, 0, 0.3);
}

/*.headers{
	text-align: center;
	opacity: 0.5;
	background-color: yellow;
}

h1, p{
	background-color: lightyellow;
}
/* h1 это выбрать все х1*/
/*
h1{
	color: lightblue;
	background-color: green;
}
/*select all*/
/*
*{
	background-color: lightpink;
}
*/
div.right{
	text-align: right;
}

body{
	background-image: url("shutterstock_1026587752.jpg");
	background-repeat: repeat-y;
}